@font-face {
    font-family: 'IranSans';
    src: url('./statics/fonts/iransans/eot/IRANSansWeb.eot'),
    url('./statics/fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'),
    url('./statics/fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype'),
    url('./statics/fonts/iransans/woff/IRANSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IranSans-light';
    src: url('./statics/fonts/iransans/eot/IRANSansWeb_Light.eot'),
    url('./statics/fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    url('./statics/fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype'),
    url('./statics/fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: IranSans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fll_wdth
{
    width: 100%;
}

.en_text {
    font-family: sans-serif !important;
}

#sphere_container {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 0 0 0;
    background: radial-gradient(ellipse at center, rgba(0, 148, 226, 0.4) 0%,
    rgba(14, 143, 211, 0) 30%) 190px -96%;
    background-size: 100% 300%;
    z-index: -1;
}

.flex_container {
    display: flex;
}

#tp_hdr {
    width: 100%;
    height: 50px;
    background-color: #000717;
    padding: 0 40px 0 40px;
}

#tp_hdr_cntct_inf_blk {
    width: 55%;
}

.wht_clr {
    color: white;
}

.flx_cntr_itm {
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.spcf_spc_tp_hdr_elm {
    justify-content: space-around;
}

#tp_hdr_cntct_inf_blk a h5 {
    display: inline;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
}

@keyframes textColor {
    from {
        color: white
    }
    to {
        color: #fece42
    }
}

#tp_hdr_cntct_inf_blk a h5:hover, #nav ul li a:hover {
    color: #fece42;
    animation-name: textColor;
    animation-duration: 500ms;
}

@keyframes movement {
    0% {
        transform: translate(0px, 0);
    }
    100% {
        transform: translate(-800px, 0);
    }
}

@keyframes movement_2 {
    0% {
        transform: translate(800px, 0);
    }
    100% {
        transform: translate(0px, 0);
    }
}

#moving_bar {
    width: 0;
    animation-name: movement;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#moving_bar_2 {
    animation-name: movement_2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#moving_bar div {
    padding-right: 40px;
    font-size: 14px;

}

#moving_bar_2 div {
    padding-right: 40px;
    font-size: 14px;

}

.gld_clr {
    display: inline;
    color: #fece42;
}

nav {
    width: 100%;
    height: 100px;
}

#nav {
    width: 50%;
    height: 100px;
}

#nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
}

#nav ul li {
    width: 16%;
    text-align: center;
    display: inline-block;

}

#logo {
    width: 27%;
    justify-content: flex-start;
    padding-right: 30px;
}

#search {
    width: 23%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 39px;
}

.nav_prop {
    display: inline;
    margin-right: 5px;
}

#nav ul li a {
    position: relative;
}

@keyframes move_to_down {
    0% {
        transform: translate(0px, 0px)
    }
    100% {
        transform: translate(0px, 7px)
    }
}

.second_nav_icon {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6px;
    z-index: -1;
    color: #fece42ba;
    animation-play-state: paused;
    animation-name: move_to_down;
    animation-timing-function: linear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/*////////////////////////-----header ended-----///////////////*/


/*starting section styles*/
#section_title
{
    width: 50%;
    height: 600px;
    flex-direction: column;
    margin: 0 30px;
    justify-content: center;
}
#section_timmer
{
    width: 50%;
    height: 600px;
    margin: 0 30px;
}
#up_price
{
    font-family: IranSans, sans-serif;
    box-sizing: border-box;
    display: flex;
    color: white;
    padding: 50px 0 0 0;
    width: 59%;
    border-radius: 8px;
    box-shadow: 0 15px 60px 0 #0094e266;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #000e2ee6;
}
#nemoodar{
    width:80%;
    height:10px;
    background-color:white;
    margin-top:20px;
    border-radius:8px;
}
#nemoodar div
{
    width:30%;
    height:100%;
    background-color:red;
    border-radius:0 8px 8px 0;
}
.top_btn
{
    font-family: IranSans, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 25%;
    height: 53px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 45px 0 0 0;
    border-radius: 5px;
    background: #fece42;
    font-family: 'IranSans-light' !important;
}
#media_container
{
    flex-direction: row;
    margin: 80px auto;
    width: 90%;
    height: 230px;

}
.media_container_child
{
    width: 25%;
    height: 100%;
    border-right: 2px solid transparent;
    background:linear-gradient(to top,transparent 0%,transparent 70%,#1d72bd73 70%);

}
@keyframes boxShadow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: #1d72bd 0 0 20px 4px;
    }
}
.media_container_child:hover
{
    animation-name: boxShadow;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    animation-timing-function: linear;
    box-shadow: #1d72bd 0 0 20px 4px;
}
.media_container_child div
{
    padding-right: 20px;
    border-radius: 2px;
}
.sample_icon
{
    color: #fece42;
    margin: 20px 0px;
    font-size: 60px;
}
/*---------------------------------------//section ended//-----------------------------------*/
#first_banner
{
    height: 570px;
    flex-direction:row;
    width:100%;
}
#banner_one_image
{
    background-image: url("./statics/images/8.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#first_banner_text{
    color: white;
    font-family: IranSans, sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}
#banner_2
{
    height: 570px;
    flex-direction: row;
}
#particle_container
{
    width: 50%;
    justify-content: center;
    align-items: center;
}
#second_banner_text
{
    color: white;
    font-family: IranSans, sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    background-color: #011a50;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}